body {
  font-family: "Roboto", "Shrikhand";
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #353535;
  color: white;
  transition: color 250ms linear;
  padding-left: 7.5%;
  padding-bottom: 10%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 6%;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding-bottom: 2%;
  }
}
.linkn1 {
  font-size: 20px;
  font-family: "Shrikhand";
}

footer ul li {
  padding-bottom: 7.5px;
  list-style-type: none;
}

footer ul {
  padding: 0;
  margin: 0;
}

.linkn2 {
  padding-left: 3.5%;
}

@media screen and (min-width: 768px) {
  .linkn2 {
    padding-left: 1%;
  }
}
@media screen and (min-width: 992px) {
  .linkn2 {
    padding-left: 1%;
  }
}
.linkn3 {
  padding-left: 3.5%;
}

@media screen and (min-width: 768px) {
  .linkn3 {
    padding-left: 1%;
  }
}
@media screen and (min-width: 992px) {
  .linkn3 {
    padding-left: 1%;
  }
}
body {
  font-family: "Roboto", "Shrikhand";
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  background: #555454;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidde-loader 800ms 3000ms forwards;
  position: absolute;
}

@keyframes hidde-loader {
  50% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
.loader span {
  color: #99E2D0;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flash 1.2s linear infinite;
  font-family: "Shrikhand";
}

@media screen and (min-width: 768px) {
  .loader span {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    background: #9356dc;
    color: #99E2D0;
    margin: 0 10px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flash 1.2s linear infinite;
    font-family: "Shrikhand";
  }
}
@media screen and (min-width: 992px) {
  .loader span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #9356dc;
    color: #99E2D0;
    margin: 0 10px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flash 1.2s linear infinite;
    font-family: "Shrikhand";
  }
}
@keyframes flash {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
}
.fa-heart:hover::before {
  animation: full 350ms ease-in-out forwards alternate;
}

@keyframes full {
  30% {
    opacity: 0;
  }
  100% {
    background: #4a4a9e;
    background: linear-gradient(201deg, #4a4a9e 0%, #9356dc 31%, #ff79da 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    opacity: 1;
  }
}
img {
  object-fit: cover;
}

.container-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hidden-index {
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: display-index 100ms 3000ms linear forwards;
}

@keyframes display-index {
  100% {
    visibility: visible;
    height: 100%;
    overflow: hidden;
  }
}
.logo {
  height: 22px;
}

.reservation {
  display: flex;
  justify-content: center;
  background-color: #e4e4e4;
  height: 45px;
  box-shadow: inset 0 3px #cccccc;
}

.paris {
  padding-right: 12px;
  display: flex;
  align-items: center;
  color: #555454;
  font-size: 14px;
}

.belleville {
  display: flex;
  align-items: center;
  color: #555454;
  font-size: 14px;
  font-weight: bolder;
  padding-right: 22px;
}

.reserver {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  height: 270px;
  justify-content: flex-start;
}

.reservationmenu {
  display: flex;
  font-size: 21px;
  width: 245px;
  text-align: center;
  padding-top: 5%;
}

@media screen and (min-width: 992px) {
  .reservationmenu {
    padding-top: 3%;
  }
}
.decouverte {
  display: flex;
  text-align: center;
  width: 350px;
  padding-bottom: 8%;
  color: #747373;
}

@media screen and (min-width: 768px) {
  .decouverte {
    padding-bottom: 4%;
  }
}
@media screen and (min-width: 992px) {
  .decouverte {
    padding-bottom: 2%;
  }
}
.explorer {
  display: flex;
  font-size: 16px;
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
  border-left: solid #e0e0e0 2px;
  border-radius: 60px;
  width: 59%;
  height: 18%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
  color: white;
  box-shadow: 4px 4px 20px #c9c9c9;
}

@media screen and (min-width: 768px) {
  .explorer {
    width: 39%;
  }
}
.explorer:hover {
  transform: scale(1.05);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .explorer:hover {
    transform: scale(1.05);
    opacity: 0.5;
  }
}
@media screen and (min-width: 992px) {
  .explorer:hover {
    transform: scale(1.05);
    opacity: 0.5;
  }
}
.fonctionnement {
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    justify-content: center;
    width: 92%;
  }
}
.fonction {
  padding-left: 5%;
  padding-top: 6%;
  padding-bottom: 15%;
}

@media screen and (min-width: 768px) {
  .fonction {
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 992px) {
  .fonction {
    padding-top: 2%;
  }
}
.restau {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 16px;
  width: 90%;
  height: 64px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0.3rem 1rem #bdbdbd;
}

@media screen and (min-width: 992px) {
  .restau {
    width: 30%;
    margin-left: inherit;
    justify-content: space-evenly;
  }
}
.restau:hover {
  background-color: #9356dc26;
}

.container-fonction {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .container-fonction {
    padding-top: 18px;
  }
}
@media screen and (min-width: 992px) {
  .container-fonction {
    justify-content: center;
    width: 95%;
  }
}
.numero {
  display: flex;
  align-items: center;
  color: white;
  background-color: #9356dc;
  width: 25px;
  height: 23px;
  padding-top: 1.6px;
  border-radius: 100%;
  text-align: center;
  justify-content: space-around;
  position: relative;
  left: 12px;
}

@media screen and (min-width: 992px) {
  .numero {
    padding: 3px;
    left: 10px;
    width: 21px;
    height: 21px;
  }
}
.choixrestau {
  padding-right: 45px;
  font-weight: bold;
  font-size: 14px;
}

.mobileicon {
  color: #555454;
}

.mobileicon:hover {
  color: #9356dc;
}

.container-compo {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .container-compo {
    padding-top: 35px;
  }
}
@media screen and (min-width: 992px) {
  .container-compo {
    justify-content: center;
    width: 95%;
  }
}
.listicon {
  color: #555454;
}

.listicon:hover {
  color: #9356dc;
}

.comporestau {
  padding-right: 58px;
  font-weight: bold;
  font-size: 14px;
}

.restaurant {
  background-color: #f2f2f2;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}

@media screen and (min-width: 992px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }
}
.restaumenu {
  position: relative;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (min-width: 992px) {
  .restaumenu {
    background-color: inherit;
    width: 60%;
    margin-top: 5%;
  }
}
.restaumenu:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 992px) {
  .restaumenu:hover {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 768px) {
  .restaumenu:hover {
    transform: scale(1.05);
  }
}
.imagejay {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 6%;
}

.titrerestaurant {
  font-size: 21px;
  padding-top: 15%;
}

@media screen and (min-width: 992px) {
  .titrerestaurant {
    padding-top: 5%;
  }
}
.imagerestaurant {
  height: 180px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu1 {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-left: 4%;
  height: 60px;
  justify-content: space-evenly;
  padding-bottom: 3%;
  padding-top: 3%;
}

@media screen and (min-width: 992px) {
  .menu1 {
    background-color: white;
    width: 96%;
  }
}
.plat1 {
  margin: 0;
  font-size: 18px;
}

.coeur {
  position: absolute;
  right: 15%;
  bottom: 60px;
  font-size: 18px;
  cursor: initial;
}

@media screen and (min-width: 992px) {
  .coeur {
    position: absolute;
    right: 12%;
    bottom: 75px;
    font-size: 18px;
    cursor: initial;
  }
}
.new {
  border-radius: 0.15em;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  position: absolute;
  font-size: 14px;
  right: 1em;
  top: 1em;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 992px) {
  .new {
    top: 60px;
  }
}