@import 'variables.scss';
@import 'footer.scss';
@import 'loader.scss'; 
@import 'coeur.scss';

img
{
    object-fit: cover;
}

.hidden-index
{
    width: 100%;
    height: 0;
    overflow: hidden;
    animation: index 1000ms 3500ms linear forwards;
}

@keyframes index 
{
    100% {
        height: 100%;
        visibility: visible;
    }
}


.container-logo
{
    display: flex;
    justify-content:center;
    padding-bottom: 10px;
    padding-top: 10px;
}


.logo
{
    height: 22px;
}



.reservation
{
    display: flex;
    justify-content: center;
    background-color: $backgroundreserv;
    height: 45px;
    box-shadow: inset 0 3px #cccccc;
}



.paris
{
    padding-right:12px;
    display: flex;
    align-items: center;
    color: $textsymbol;
    font-size: 14px;
}



.belleville
{
    display: flex;
    align-items: center;
    color: $textsymbol;
    font-size: 14px;
    font-weight: bolder;
    padding-right: 22px;
}



.reserver
{
    display:flex;
    background-color: $background;
    flex-direction: column;
    align-items: center;
    height: 270px;
    justify-content: flex-start;
}



.reservationmenu
{
    display:flex;
    font-size: 21px;
    width: 245px;
    text-align: center;
    padding-top: 5%;
}
@media screen and (min-width:992px)
{
    .reservationmenu
    {
        padding-top:3%;
    }
}


.decouverte
{
    display:flex;
    text-align: center;
    width: 350px;
    padding-bottom: 8%;
    color:$couleurdecouverte;
}
@media screen and (min-width:768px)
{
    .decouverte
    {
        padding-bottom:4%;
    }
}
@media screen and (min-width:992px)
{
    .decouverte
    {
        padding-bottom:2%;
    }
}



.explorer
{
    display:flex;
    font-size:16px;
    border-top: solid #e0e0e0 2px;
    border-right: solid #e0e0e0 2px;
    border-bottom: solid #e0e0e0 2px;
    border-left: solid #e0e0e0 2px;
    border-radius: 60px;
    width: 59%;
    height: 18%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
    color:$whitefont;
    box-shadow: 4px 4px 20px #c9c9c9;
    cursor:pointer;
}
@media screen and (min-width:768px)
{
    .explorer
    {
        width:39%;
    }
}

.explorer:hover
{
    transform: scale(1.05);
    opacity:0.5;
}
@media screen and (min-width:768px)
{
    .explorer:hover
    {
        transform: scale(1.05);
        opacity:0.5;
    }
}
@media screen and (min-width:992px)
{
    .explorer:hover
    {
        transform: scale(1.05);
        opacity:0.5;
    }
}


.fonctionnement
{
    font-size:21px;
}
@media screen and (min-width:768px)
{
    .fonctionnement
    {
        display:flex;
        justify-content: center;
        padding-left: 1%;
    }
}


.fonction
{
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 15%;
}
@media screen and (min-width:768px)
{
    .fonction
    {
        padding-bottom:5%;
        padding-left:inherit;
    }
}
@media screen and (min-width:992px)
{
    .fonction
    {
        padding-top:2%;
    }
}


.restau
{
    display:flex;
    background-color: $background;
    border-radius: 16px;
    width: 90%;
    height: 64px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0.3rem 1rem #bdbdbd;
}
@media screen and (min-width:768px)
{
    .restau
    {
        width:50%;
    }
}
@media screen and (min-width:992px)
{
    .restau
    {
        width:30%;
        margin-left: inherit;
        justify-content: space-evenly;
    }
}

.restau:hover
{
   background-color:$restauhover;
}

.container-fonction
{
    display:flex;
    align-items: center;
    padding-top: 12px;
}
@media screen and (min-width:768px)
{
    .container-fonction
    {
        padding-top:18px;
        justify-content: center;
    }
}
@media screen and (min-width:992px)
{
    .container-fonction
    {
        justify-content: center;
    }
}


.numero
{
    display:flex;
    align-items: center;
    color: $whitefont;
    background-color: $puce;
    width: 25px;
    height: 23px;
    padding-top: 1.6px;
    border-radius: 100%;
    text-align: center;
    justify-content: space-around;
    margin-right: -12px;
    z-index: 4;
}
@media screen and (min-width:992px)
{
    .numero
    {
        padding:3px;
        width: 21px;
        height: 21px;
    }
}



.choixrestau
{
    padding-right: 45px;
    font-weight: bold;
    font-size: 14px;
}
@media screen and (min-width:768px)
{
    .choixrestau
    {
        padding-right: 45px;
        justify-content:center;
    }
}



.mobileicon
{
    color: $textsymbol;
}

.mobileicon:hover
{
    color: $puce;
}


.container-compo
{
    display:flex;
    align-items: center;
    padding-top: 24px;
}
@media screen and (min-width:768px)
{
    .container-compo
    {
        padding-top:35px;
        justify-content:center;
    }
}
@media screen and (min-width:992px)
{
    .container-compo
    {
        justify-content: center;
    }
}



.listicon
{
    color:$textsymbol;
}

.listicon:hover
{
    color: $puce;
}


.comporestau
{
    padding-right: 58px;
    font-weight: bold;
    font-size: 14px;
}

.restaurant 
{
    background-color: $background;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
}
@media screen and (min-width:992px)
{
    .restaurant
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10%;
    }
}


.restaumenu
{
    position: relative;
    background-color:$whitefont;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media screen and (min-width:992px)
{
    .restaumenu
    {
        background-color:inherit;
        width:60%;
        margin-top: 5%;
    }
}

.restaumenu:hover
{
    transform: scale(1.05);
}
@media screen and (min-width:992px)
{
    .restaumenu:hover
    {
        transform: scale(1.05);
    }
}
@media screen and (min-width:768px)
{
    .restaumenu:hover
    {
        transform: scale(1.05);
    }
}


.imagejay
{
    background-color: $whitefont;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 6%;
    position:relative;
}


.titrerestaurant
{
    font-size:21px;
    padding-top: 15%;
}
@media screen and (min-width:992px)
{
    .titrerestaurant
    {
        padding-top:5%;
        margin: 0;
    }
}


.imagerestaurant
{
    height:180px;
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.menu1
{
    display:flex;
    flex-direction: column;
    width: 150px;
    padding-left: 4%;
    height: 60px;
    justify-content: space-evenly;
    padding-bottom: 3%;
    padding-top: 3%;
}
@media screen and (min-width:992px)
{
    .menu1
    {
        background-color:$whitefont;
        width:96%;
    }
}


.plat1
{
    margin:0;
    font-size: 18px;
}

.coeur 
{
    position: absolute;
    right: 15%;
    bottom: 60px;
    font-size: 18px;
    cursor: pointer;
}
@media screen and (min-width:992px)
{
    .coeur
    {
        position: absolute;
        right: 12%;
        bottom: 75px;
        font-size: 18px;
    }
}


.new
{
    border-radius: 0.15em;
    background-color: $backgroundnew;
    color: $new;
    font-weight: bold;
    position: absolute;
    font-size: 14px;
    right: 1em;
    top: 1em;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 12px;
    padding-left: 10px;
    z-index: 6;
}
@media screen and (min-width:992px)
{
    .new
    {
        top: 63px;
        z-index: 6;
    }
}



