//variables//
body
{
    font-family: "Roboto","Shrikhand";
}

img
{
    object-fit: cover;
}

a 
{
    color: inherit;
    text-decoration: none;
}

$background:#f2f2f2;

$backgroundreserv: #e4e4e4;

$textsymbol: #555454;

$couleurdecouverte: #747373;

$whitefont: white;

$restauhover:#9356dc26;

$puce: #9356dc;

$new: #008766;

$backgroundnew: #99E2D0;

$fontcontainer: #FF79DA ;